<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumen Calculator</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
</head>
<body>
    <div class="form-group">
        <h1 class="title">Lumens per square meter Calculator</h1>

        <form method="POST" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button">Calculate</button>
        </form>

        {% if results %}
            <div class="results" role="region" aria-label="Calculation results">
                <h3 class="results-title">Results for {{ results.space_type }} (Area: {{ results.area }} m²)</h3>
                <ul class="results-list">
                    <li>Lux Range: {{ results.min_lux }} - {{ results.max_lux }} lux</li>
                    <li>Minimum Lumens: {{ results.min_lumens }}</li>
                    <li>Maximum Lumens: {{ results.max_lumens }}</li>
                    <li>Recommended Average Lumens: {{ results.avg_lumens }}</li>
                </ul>
            </div>
        {% endif %}
    </div>
</body>
</html>